* {
    background-color: lightcoral;
    font-family: "helvetica neue";
}

h1 {
    text-align: center;
    color: darkred;
}

form {
    text-align: center;
}

input[type="text"] {
    font-size: 1rem;
    background-color: pink;
    color: brown;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
}

button {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    transition: background-color 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: white;
}